<div *ngIf="type === 'order'" class="media pb-3 align-items-center justify-content-between border-bottom">
    <div
        class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-primary text-white">
        <i class="mdi mdi-account-plus font-size-20"></i>
    </div>
    <div class="media-body pr-3 ">
        <a class="mt-0 mb-1 font-size-15 text-dark" href="#">{{ stat?.last24HoursOrders }} New</a>
    </div>
    <span class=" font-size-12 d-inline-block"> Last 24 Hours</span>
</div>

<div *ngIf="type === 'order'" class="media py-3 align-items-center justify-content-between border-bottom">
  <div
    class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-warning text-white">
    <i class="mdi mdi-stack-exchange font-size-20"></i>
  </div>
  <div class="media-body pr-3">
    <a class="mt-0 mb-1 font-size-15 text-dark" href="#">{{stat?.pending}} Order</a>
  </div>
  <span class=" font-size-12 d-inline-block">Pending</span>
</div>

<div *ngIf="type === 'order'" class="media py-3 align-items-center justify-content-between border-bottom">
    <div
        class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-success text-white">
        <i class="mdi mdi-refresh font-size-20"></i>
    </div>
    <div class="media-body pr-3">
        <a class="mt-0 mb-1 font-size-15 text-dark" href="#">{{stat?.refunded}} Order</a>
    </div>
    <span class=" font-size-12 d-inline-block"> Refunded</span>
</div>


<div *ngIf="type === 'order'" class="media py-3 align-items-center justify-content-between border-bottom">
    <div
        class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-primary text-white">
        <i class="mdi mdi-cart-outline font-size-20"></i>
    </div>
    <div class="media-body pr-3">
        <a class="mt-0 mb-1 font-size-15 text-dark" href="#">{{stat?.cancelled}} Order</a>
    </div>
    <span class=" font-size-12 d-inline-block">Cancelled</span>
</div>

<div *ngIf="type === 'product'" class="media py-3 align-items-center justify-content-between border-bottom">
    <div
        class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-info text-white">
        <i class="mdi mdi-calendar-blank font-size-20"></i>
    </div>
    <div class="media-body pr-3">
        <a class="mt-0 mb-1 font-size-15 text-dark" href="">{{stat?.totalProducts}} Product</a>
    </div>
    <span class=" font-size-12 d-inline-block">Total</span>
</div>

<div *ngIf="type === 'sale'" class="sale_sec d-flex flex-wrap">
  <div class="col-md-4 col-4">
      <div class="media">
          <div
              class="d-flex border-circle border-circle-color-green align-items-center justify-content-center mr-3 media-icon iconbox-45">
              <i class="mdi mdi-cart-outline font-size-20"></i>
          </div>
          <div class="media-body green pr-3 ">
              <h6>{{stat?.revenue | priceCurrency}}</h6>
              <p>Total Revenue</p>
          </div>
          <div class="dropdown show d-inline-block widget-dropdown">
              <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                  id="dropdown-customar" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" data-display="static">
              </a>
              <ul class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdown-customar">
                  <li class="dropdown-item"><a href="#">view</a></li>
                  <li class="dropdown-item"><a href="#">show</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="col-md-4 col-4">
      <div class="media">
          <div
              class="d-flex border-circle border-circle-color-blue align-items-center justify-content-center mr-3 media-icon iconbox-45">
              <i class="mdi mdi-cart-outline font-size-20"></i>
          </div>
          <div class="media-body blue pr-3 ">
              <h6>{{stat.todaySales | priceCurrency}}</h6>
              <p>Today’s Sales</p>
          </div>
          <div class="dropdown show d-inline-block widget-dropdown">
              <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                  id="dropdown-customar" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" data-display="static">
              </a>
              <ul class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdown-customar">
                  <li class="dropdown-item"><a href="#">view</a></li>
                  <li class="dropdown-item"><a href="#">show</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="col-md-4 col-4">
      <div class="media">
          <div
              class="d-flex border-circle align-items-center justify-content-center mr-3 media-icon iconbox-45"
              [ngClass]="{'border-circle-color-red': stat.enhance < 0, 'border-circle-color-green': stat.enhance >= 0}"
          >
              <i class="mdi mdi-cart-outline font-size-20"></i>
          </div>
          <div class="media-body  pr-3" [ngClass]="{'red': stat.enhance < 0, 'green': stat.enhance >= 0}">
              <h6>{{stat.enhance | number}}%</h6>
              <p>Enhance</p>
          </div>
          <div class="dropdown show d-inline-block widget-dropdown">
              <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                  id="dropdown-customar" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" data-display="static">
              </a>
              <ul class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdown-customar">
                  <li class="dropdown-item"><a href="#">view</a></li>
                  <li class="dropdown-item"><a href="#">show</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
