<div class="row">
    <div class="col-12"> 
    <!-- <div class="col-md-6"> -->
        <div class="card create-physical-product-box">
            <div class="card-body">
                <form (submit)="submit(frm)" #frm="ngForm" *ngIf="product" class="form-pill">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav flex-column nav-pills nav-top-cus product-create-tab-btn" role="tablist" aria-orientation="vertical">
                                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" [ngClass]="{active: tab == 'info'}" (click)="changeTab('info')">Information</a>
                                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false" [ngClass]="{active: tab == 'spec'}" (click)="changeTab('spec')">Specifications</a>
                                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false" [ngClass]="{active: tab == 'images'}" (click)="changeTab('images')">Images</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane" role="tabpanel" [ngClass]="{'show active': tab === 'info', hide: tab !== 'info'}">
                                    <div class="form-group">
                                        <label>Product Name (*)</label>
                                        <input type="text" name="name" #name="ngModel" class="form-control" placeholder="Enter name" [(ngModel)]="product.name" required (change)="changeAlias()" />
                                        <div *ngIf="name.errors && (name.dirty || name.touched || isSubmitted)">
                                            <p [hidden]="!name.errors.required" class="required-text">
                                                Please enter product name!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group product-dynamic-additional-field">
                                        <label>Product Over View </label>
                                        <table class="table">
                                            <tbody class="sortable" [sortablejs]="product.overview">
                                                <tr *ngFor="let overview of product.overview; let i = index" class="product-dynamic-additional-field-box">
                                                    <td>
                                                        <i class="fa fa-bars pr-2 move-icon"></i>
                                                        <input type="text" name="overview{{i}}" value="{{overview}}" class="form-control {{i}}" />
                                                        <button (click)="removeProductOverview(i)" class="trash-btn"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>
                                                        <div class="input-group mb-3 product-dynamic-additional-field-add">
                                                            <input type="text" class="form-control" placeholder="Enter Product Overview value" name="newChemicalValue" [(ngModel)]="newProductOverview.value" />
                                                            <button class="btn" type="button" (click)="addProductOverview()"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="form-group">
                                        <label>Product Short Description (*)</label>
                                        <textarea class="form-control" name="productsdesc" placeholder="Enter Product Short Description" [(ngModel)]="product.shortDescription"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Category (*)</label>
                                        <select class="form-control" [(ngModel)]="product.categoryId" name="categoryId">
                                            <option value="">-- No category --</option>
                                            <option *ngFor="let item of tree" [ngValue]="item._id">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Product Price (*)</label>
                                        <input type="number" name="price" min="0.1" class="form-control" [(ngModel)]="product.price" required #price="ngModel" />
                                        <div *ngIf="price.errors && (price.dirty || price.touched || isSubmitted)">
                                            <p [hidden]="!price.errors.required" class="required-text">
                                                Price is required
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Product Sale Price (*)</label>
                                        <input type="number" name="salePrice" class="form-control" [(ngModel)]="product.salePrice" min="0.1" required #salePrice="ngModel" />
                                        <div *ngIf="salePrice.errors && (salePrice.dirty || salePrice.touched || isSubmitted)">
                                            <p [hidden]="!salePrice.errors.required" class="required-text">
                                                Product Sale Price is required
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Stock quantity (*)</label>
                                        <input type="number" name="stockQuantity" min="1" class="form-control" [(ngModel)]="product.stockQuantity" required #stock="ngModel" />
                                        <div *ngIf="stock.errors && (stock.dirty || stock.touched || isSubmitted)">
                                            <p [hidden]="!stock.errors.required" class="required-text">
                                                Stock quantity is required
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Vat (%)</label>
                                        <input type="number" name="taxValue" class="form-control" placeholder="10" [(ngModel)]="product.taxPercentage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Approximate Delivery time (Seller to warehouse) (*)</label>
                                        <input class="form-control" name="productName" type="number" [(ngModel)]="product.approximateDeliveryTime" placeholder="Enter Approximate Delivery time in days" required />
                                        <!-- <div>
                                  <p class="required-text">
                                    >Approximate Delivery time is required
                                  </p>
                                </div> -->
                                    </div>

                                    <div class="form-group">
                                      <label>Warranty Type</label>
                                      <div class="row">
                                        <div class="col">
                                          <label class="control control-radio">International Manufacturer Warranty
                                            <input name="warrantyType" (change)="warrantyTypeChange()" [(ngModel)]="product.warranty.type" type="radio" value="International Manufacturer Warranty"><div class="control-indicator"></div>
                                          </label>
                                        </div>
                                        <div class="col">
                                          <label class="control control-radio">Non-local warranty
                                            <input name="warrantyType" (change)="warrantyTypeChange()" [(ngModel)]="product.warranty.type" type="radio" value="Non-local warranty"><div class="control-indicator"></div>
                                          </label>
                                        </div>
                                        <div class="col">
                                          <label class="control control-radio"> Local seller warranty
                                            <input name="warrantyType" (change)="warrantyTypeChange()" [(ngModel)]="product.warranty.type" type="radio" value="Local seller warranty"><div class="control-indicator"></div>
                                          </label>
                                        </div>
                                        <div class="col">
                                          <label class="control control-radio">International Seller Warranty
                                            <input name="warrantyType" (change)="warrantyTypeChange()" [(ngModel)]="product.warranty.type" type="radio" value="International Seller Warranty"><div class="control-indicator"></div>
                                          </label>
                                        </div>
                                        <div class="col">
                                          <label class="control control-radio">No Warranty
                                            <input name="warrantyType" (change)="warrantyTypeChange()" [(ngModel)]="product.warranty.type" type="radio" value="No Warranty"><div class="control-indicator"></div>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label>Warranty Policy</label>
                                      <textarea class="form-control" name="warrantyPolicy" placeholder="Warranty Policy" [(ngModel)]="product.warranty.policy"></textarea>
                                    </div>
                                    <div class="form-group row">
                                      <div class="col-md-12">
                                        <label>Warranty Period</label>
                                      </div>
                                      <div class="col-md-8">
                                        <input type="text" (keyup)="isPluralNumber($event)" [(ngModel)]="product.warranty.period" class="form-control" name="warrantyPeriod" id="warrantyPeriod">
                                      </div>
                                      <div class="col-md-4">
                                        <select *ngIf="isNumberNull == false" class="form-control" name="periodUnit" id="" [(ngModel)]="product.warranty.periodUnit">
                                          <option *ngIf="isPluralNumberVal == true" value="Days">Days</option>
                                          <option *ngIf="isPluralNumberVal == true" value="Months">Months</option>
                                          <option *ngIf="isPluralNumberVal == true" value="Years">Years</option>
                                          <option *ngIf="isPluralNumberVal == false" value="Day">Day</option>
                                          <option *ngIf="isPluralNumberVal == false" value="Month">Month</option>
                                          <option *ngIf="isPluralNumberVal == false" value="Year">Year</option>
                                        </select>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label>What's in the box</label>
                                      <textarea class="form-control" name="inBox" placeholder="What is in the box" [(ngModel)]="product.inTheBox"></textarea>
                                    </div>

                                    <div class="form-group">
                                      <label>Package Weight (Kg)</label>
                                      <input type="text" name="taxValue" class="form-control" placeholder="0.1" [(ngModel)]="product.packageWeight" />
                                    </div>
                                    <div class="form-group">
                                      <label>Dangerous Goods</label>
                                      <div class="row">
                                        <div class="col">
                                          <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="dangerousGoods[]" id="battery" (change)="checkDangerous($event, 'battery')" [(ngModel)]="product.dangerousGoods.battery">
                                            <label class="custom-control-label" for="battery">Battery</label>
                                          </div>
                                        </div>
                                        <div class="col">
                                          <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="dangerousGoods[]" id="liquid" (change)="checkDangerous($event, 'liquid')" [(ngModel)]="product.dangerousGoods.liquid">
                                            <label class="custom-control-label" for="liquid">Liquid</label>
                                          </div>
                                        </div>
                                        <div class="col">
                                          <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="dangerousGoods[]" id="flameable" (change)="checkDangerous($event, 'flameable')" [(ngModel)]="product.dangerousGoods.flameable">
                                            <label class="custom-control-label" for="flameable">Flameable</label>
                                          </div>
                                        </div>
                                      </div>
                                    </div>


                                    <div class="form-group">
                                      <label>Free Items (If any)</label>
                                      <textarea class="form-control" name="freeItems" placeholder="Free Items" [(ngModel)]="product.freeItems"></textarea>
                                    </div>

                                </div>
                                <div class="tab-pane" role="tabpanel" [ngClass]="{'show active': tab === 'spec', hide: tab !== 'spec'}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group product-dynamic-additional-field product-dynamic-additional-multi-field">
                                                <label>Specifications</label>
                                                <table class="table">
                                                    <tbody class="sortable" [sortablejs]="product.specifications">
                                                        <tr *ngFor="let c of product.specifications; let i = index" class="product-dynamic-additional-field-box row m-0">
                                                            <td class="col-md-6 pr-1">
                                                                <span class="d-block product-dynamic-additional-field-text">
                                                                    <i class="fa fa-bars pr-2 move-icon"></i>
                                                                    <strong>{{c.key}}</strong>
                                                                </span>
                                                            </td>
                                                            <td class="col-md-6">
                                                                <input type="text" name="spec{{i}}" [(ngModel)]="c.value" class="form-control" />
                                                                <button (click)="removeSpec(i)" class="trash-btn"><i class="fa fa-trash"></i></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr class="row m-0">
                                                            <td class="col-md-6 pr-2">
                                                                <input type="text" class="form-control" placeholder="Enter specification type" name="newSpec" [(ngModel)]="newSpecification.key" />
                                                            </td>
                                                            <td class="col-md-6">
                                                                <div class="input-group mb-3 product-dynamic-additional-field-add">
                                                                    <input type="text" class="form-control" placeholder="Enter Product Overview value" name="specifications" [(ngModel)]="newSpecification.value" />
                                                                    <button class="btn" type="button" (click)="addSpecification()"><i class="fa fa-plus"></i></button>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" [ngClass]="{'show active': tab === 'images', hide: tab !== 'images'}">
                                    <h3 class="input-image-title">Click to set main image.</h3>
                                    <div class="row">
                                        <div class="col-md-3 text-center" *ngFor="let media of images; let i = index">
                                            <img class="img-thumbnail" [src]="media.thumbUrl" [ngClass]="{selected: media._id === mainImage}" />
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-secondary" type="button" [ngClass]="{'btn-success' : media._id === mainImage}" (click)="setMain(media)">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                                <button class="btn btn-secondary" type="button" (click)="removeImage(media, i)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <media-select (onSelect)="selectImage($event)" [options]="imagesOptions"></media-select>
                                </div>
                            </div>
                            <!-- <div [hidden]="!product._id" class="tab-pane" role="tabpanel" [ngClass]="{'show active': tab === 'review', hide: tab !== 'review'}">
                <product-review [productId]="product._id" *ngIf="product._id"></product-review>
              </div> -->
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <hr />
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6">
        <div class="col-12" align="center">
            <h2>Can't find a product?</h2>
            <a routerLink="/products/request" class="requestBTN btn btn-success mt-3">CREATE</a>
        </div>
    </div> -->
</div>
