.office-address{
  width: 100%;
  background: transparent;
  border: 2px solid #333;
  border-radius: 10px;
  color: #333;
  font-size: 16px;
}

.bkash-number{
  width: 100%;
  background: transparent;
  border: 2px solid #333;
  border-radius: 10px;
  color: #333;
  font-size: 16px;
}

.phone-number{
  width: 100%;
  background: transparent;
  border: 2px solid #333;
  border-radius: 10px;
  color: #333;
  font-size: 16px;
}

.registration-sec {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.registration-inner {
  max-width: 900px;
  margin: 0 auto;
  display: inline-block;
  padding: 50px 0;
}

.registration-header {
  width: 100%;
  display: block;
}

.registration-header h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #42425c;
  margin-bottom: 25px;
}

.registration-body {
  width: 100%;
  display: block;
}
.registration-type-header {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.registration-type-header h2 {
  font-size: 20px;
  color: #4d4f5c;
  margin-bottom: 10px;
}

.registration-type-header ul {
  width: 100%;
  display: block;
  list-style: none;
}

.registration-type-header ul li {
  display: inline-block;
  border-right: 2px solid #ddd;
}
.registration-type-header ul li:last-child {
  border: 0;
}
.registration-type-header ul li a {
  display: block;
  margin: 5px 20px;
  padding: 5px 20px;
  transition: all .5s;
  font-size: 16px;
  color: #333;
  border-radius: 10px;
}

.registration-type-header ul li a.active,
.registration-type-header ul li a:hover{
  background: #4d4f5c;
  color: #fff;
}
.registration-card-body {
  width: 100%;
  display: block;
  max-width: 500px;
  margin: 0 auto;
}
.registration-card-body .input-group {
  margin-bottom: 10px;
}
.registration-card-body .input-group .form-control {
  width: 100%;
  background: transparent;
  border: 2px solid #333;
  border-radius: 10px;
  color: #333;
  font-size: 16px;
}
.reg-file-upload-group {
  width: 100%;
  display: block;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.reg-file-upload-group .reg-file-upload-title {
  font-size: 18px;
  color: #333;
  display: block;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
}
.reg-file-upload-group-inner{
  display: block;
  width: 100%;
}
.reg-file-upload-group .upload-group-field {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  border: 2px solid #333;
  margin: 5px;
}

.reg-file-upload-group .upload-group-field input {
  opacity: 0;
  display: none;
}

.reg-file-upload-group .file-upload-text {
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  color: #333;
  font-size: 24px;
}

.reg-file-upload-group .upload-group-field label {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.registration-card-body .reg-submit-sec {
  width: 100%;
  padding: 25px;
  text-align: center;
}

.registration-card-body .reg-submit-sec button {
  /* background: #646afe; */
  padding: 10px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
}

.registration-card-body .btn-text {
  background: #646afe;
  padding: 2px 20px;
  border-radius: 15px;
  display: inline-block;
}

.registration-card-body .btn-icon {
  background: #646afe;
  padding: 1px 5px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}

.error{
  color: red;
}


.after-reg-confirmation-inner {
  width: 100%;
  display: block;
}

.after-reg-confirmation-inner .after-reg-text {
  margin-top: 10%;
  margin-bottom: 20px;
}

.after-reg-confirmation-inner  .after-reg-text h2 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: #42425c;
  padding: 20px;
  display: block;
  border-radius: 5px;
}

.after-reg-confirmation-inner .after-reg-text h3 {
  color: #afaeb3;
  font-size: 16px;
  padding: 0px;
  margin: 0;
  width: 100%;
}
.after-reg-confirmation-inner .after-reg-text h3 i {
  color: #ffca84;
  font-size: 40px;
  display: inline-block;
  /* float: left; */
  position: absolute;
  left: -40px;
  top: 0;
}
.after-reg-confirmation-inner .after-reg-text h3 span {
  display: inline-block;
  padding: 12px;
  position: relative;
  padding-left: 25px;
}

.after-reg-confirmation-inner  .after-reg-submit-sec {
  width: 100%;
  padding: 25px;
  text-align: center;
}

.after-reg-confirmation-inner  .after-reg-submit-sec button {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  background: transparent;
  border: 0;
  padding: 0;
}

.after-reg-confirmation-inner  .btn-text {
  background: #646afe;
  padding: 2px 20px;
  border-radius: 15px;
  display: inline-block;
}

.after-reg-confirmation-inner  .btn-icon {
  background: #646afe;
  padding: 1px 5px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}
