<div class="registration-sec">
  <div *ngIf="!registrationDone" class="registration-inner">
      <div class="registration-header">
          <h1>GearsBD Seller Registration </h1>
      </div>
      <div class="registration-body">
          <div class="registration-type-header">
              <h2>Registering With</h2>
              <ul>
                  <li><a [class.active]="withTradeLicense" (click)="withtradeLicense($event)" href="#">Trade License</a></li>
                  <li><a [class.active]="!withTradeLicense" href="#" (click)="withNID($event)">National ID card</a></li>
              </ul>
          </div>
          <div class="registration-card-body">
              <form (submit)="submit(frm)" #frm="ngForm">
                  <div class="row" *ngIf="!firstStepDone" #firstStep>
                      <div class="col-md-12">
                          <div class="input-group">
                            <input class="form-control" placeholder="Shop name" required type="text" autocomplete="off" name="name"
                              [(ngModel)]="shop.name" #name="ngModel" />
                            <div *ngIf="name.errors && (name.dirty || name.touched || submitted)">
                              <p [hidden]="!name.errors.required" class="error">
                                Shop name is required
                              </p>
                            </div>
                          </div>
                      </div>
                      <!-- <div class="col-md-12">
                        <div class="input-group">
                          <input class="form-control" placeholder="Last Name" required type="text" autocomplete="off" name="lastName"
                            [(ngModel)]="shop.lastName" #lastName="ngModel" />
                          <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched || submitted)">
                            <p [hidden]="!lastName.errors.required" class="error">
                              Last Name is required
                            </p>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-md-12">
                        <div class="input-group">
                          <input class="form-control" placeholder="Username" required type="text" autocomplete="off" name="username"
                            [(ngModel)]="shop.username" #username="ngModel" />
                          <div *ngIf="username.errors && (username.dirty || username.touched || submitted)">
                            <p [hidden]="!username.errors.required" class="error">
                              Username is required
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="input-group">
                          <input class="form-control" placeholder="Password" required type="password" autocomplete="off" name="pw"
                            [(ngModel)]="shop.password" #password="ngModel" />
                          <div *ngIf="password.errors && (password.dirty || password.touched || submitted)">
                            <p [hidden]="!password.errors.required" class="error">
                              Password is required
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="input-group">
                          <input class="form-control" placeholder="Confirm Password" required type="password" autocomplete="off" name="confirmPwd"
                            [(ngModel)]="confirmPassword" #confirmPwd="ngModel" />
                          <div *ngIf="confirmPwd.errors && (confirmPwd.dirty || confirmPwd.touched || submitted)">
                            <p [hidden]="!confirmPwd.errors.required" class="error">
                              Confirm password is required
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="input-group">
                          <input class="form-control" placeholder="Email" required type="email" autocomplete="off" name="email"
                            [(ngModel)]="shop.email" #email="ngModel" />
                          <div *ngIf="email.errors && (email.dirty || email.touched || submitted)">
                            <p [hidden]="!email.errors.required" class="error">
                              Email is required
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <!-- Preivous phone number field  -->
                        <!-- <div class="input-group">
                          <input class="form-control" placeholder="Phone Number" required type="text" [minlength]="11" [maxlength]="11" (keypress)="onlyNumber($event)" autocomplete="off" name="phoneNumber"
                            [(ngModel)]="shop.phoneNumber" #phoneNumber="ngModel" />
                          <div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched || submitted)">
                            <p [hidden]="!phoneNumber.errors.required" class="error">
                              Phone Number is required
                            </p>
                          </div>
                        </div> -->
                        <div class="form-group">
                          <div class="input-group-btn">
                            <div class="input-group-prepend phone-number">
                              <span class="input-group-text">+88</span>
                              <input type="text" class="form-control" placeholder="Phone Number" required [minlength]="11" [maxlength]="11" (keypress)="onlyNumber($event)" autocomplete="off" name="phoneNumber"
                              [(ngModel)]="shop.phoneNumber" #phoneNumber="ngModel"/>
                            </div>
                            <div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched || submitted)">
                              <p [hidden]="!phoneNumber.errors.required" class="error">
                                Phone Number is required
                              </p>
                            </div>
                          </div> 
                        </div>
                      </div>
                      <div class="col-md-12">
                        <!-- previous bKash number input field -->
                        <!-- <div class="input-group">
                          <input class="form-control" placeholder="bKash Number" required type="text" [minlength]="11" [maxlength]="11" (keypress)="onlyNumber($event)" autocomplete="off" name="personalBkashNumber"
                            [(ngModel)]="shop.personalBkashNumber" #personalBkashNumber="ngModel" />
                          <div *ngIf="personalBkashNumber.errors && (personalBkashNumber.dirty || personalBkashNumber.touched || submitted)">
                            <p [hidden]="!personalBkashNumber.errors.required" class="error">
                              bKash Number is required
                            </p>
                          </div>
                        </div> -->
                        <!-- update bekash number with country prefix -->
                        <div class="form-group">
                          <div class="input-group-btn">
                            <div class="input-group-prepend bkash-number">
                              <span class="input-group-text">+88</span>
                              <input type="text" class="form-control" placeholder="bKash Number" required [minlength]="11" [maxlength]="11" (keypress)="onlyNumber($event)" autocomplete="off" name="personalBkashNumber"
                              [(ngModel)]="shop.personalBkashNumber" #personalBkashNumber="ngModel"/>
                            </div>
                            <div *ngIf="personalBkashNumber.errors && (personalBkashNumber.dirty || personalBkashNumber.touched || submitted)">
                              <p [hidden]="!personalBkashNumber.errors.required" class="error">
                                bKash Number is required
                              </p>
                            </div>
                          </div> 
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="input-group-btn">
                            <div class="input-group-prepend office-address">
                              <span class="input-group-text"  *ngIf="withTradeLicense">Office Address</span>
                              <span class="input-group-text" *ngIf="!withTradeLicense">Full Address</span>
                              <input type="text" class="form-control" placeholder="Street Address" required name="officeAddress"
                              [(ngModel)]="shop.officeAddress" #officeAddress="ngModel"/>
                            </div>
                            <div *ngIf="officeAddress.errors && (officeAddress.dirty || officeAddress.touched || submitted)">
                              <p [hidden]="!officeAddress.errors.required" class="error">
                                Street Address is required
                              </p>
                            </div>
                          </div> 
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="input-group-btn">
                                <div class="input-group-prepend office-address">
                                  <span class="input-group-text">City</span>
                                  <input type="text" class="form-control" placeholder="City/State" required name="officeCity"
                                  [(ngModel)]="shop.officeCity" #officeCity="ngModel"/>
                                </div>
                                <div *ngIf="officeCity.errors && (officeCity.dirty || officeCity.touched || submitted)">
                                  <p [hidden]="!officeCity.errors.required" class="error">
                                    City is required
                                  </p>
                                </div>
                              </div> 
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="input-group-btn">
                                <div class="input-group-prepend office-address">
                                  <span class="input-group-text">Zip</span>
                                  <input type="number" class="form-control" placeholder="Zip/Postal Code" required name="officeZip"
                                  [(ngModel)]="shop.officeZip" #officeZip="ngModel"/>
                                </div>
                                <div *ngIf="officeZip.errors && (officeZip.dirty || officeZip.touched || submitted)">
                                  <p [hidden]="!officeZip.errors.required" class="error">
                                    Zip is required
                                  </p>
                                </div>
                              </div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12" *ngIf="withTradeLicense">
                        <div class="input-group">
                          <input class="form-control" placeholder="Trade License Registration No" [required]="withTradeLicense" type="text" autocomplete="off" name="tradeLicenseNumber"
                            [(ngModel)]="shop.tradeLicenseNumber" #tradeLicenseNumber="ngModel" />
                          <div *ngIf="tradeLicenseNumber.errors && (tradeLicenseNumber.dirty || tradeLicenseNumber.touched || submitted)">
                            <p [hidden]="!tradeLicenseNumber.errors.required" class="error">
                              Trade License is required
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12" *ngIf="!withTradeLicense">
                        <div class="input-group">
                          <input class="form-control" placeholder="National ID No" required type="text" autocomplete="off" name="nidno"
                            [(ngModel)]="shop.nidno" #nidno="ngModel" />
                          <div *ngIf="nidno.errors && (nidno.dirty || nidno.touched || submitted)">
                            <p [hidden]="!nidno.errors.required" class="error">
                              Natotional ID No is required
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12" *ngIf="withTradeLicense">
                        <span *ngIf="uploadedDocuments['tradelicense'].length > 2">
                          <span>Tradelicense document was uploaded</span> <br>
                          <img src="/assets/images/confirm-certificate.png" alt="Uploaded document" style="width: 50px" />
                        </span>
                        <reg-file-upload *ngIf="uploadedDocuments['tradelicense'].length < 3" [options]="tradeLicenseDocumentsOptions"></reg-file-upload>
                      </div>
                      <div class="col-md-12">
                        <span *ngIf="uploadedDocuments['nid'].length > 1">
                          <span>NID document was uploaded</span> <br>
                          <img src="/assets/images/confirm-certificate.png" alt="Uploaded document" style="width: 50px" />
                        </span>
                        <reg-file-upload *ngIf="uploadedDocuments['nid'].length < 2 "  [options]="nidDocumentsOptions"></reg-file-upload>
                      </div>
                      <div class="col-md-12">
                        <reg-file-upload *ngIf="uploadedDocuments['proof'].length == 0" [options]="proofDocumentsOptions"></reg-file-upload>
                        <span *ngIf="uploadedDocuments['proof'].length>0">
                          <span>Proof Document was uploaded</span> <br>
                          <img src="/assets/images/confirm-certificate.png" alt="Uploaded document" style="width: 50px" />
                        </span>
                      </div>
                      <div class="col-md-12 instructions">
                        <p> Pleas take a photo holding your name written in a paper and your NID/Trade License. Please see this <a href="http://via.placeholder.com/1020x600" target="_blank">Example Image</a></p>
                      </div>
                      <div class="col-md-12">
                          <div class="reg-submit-sec">
                              <button (click)="nextStep(firstStep)" type="button">
                                  <span class="btn-text">Next</span>
                                  <span class="btn-icon"><i class="mdi mdi-chevron-right"></i></span>
                              </button>
                          </div>
                      </div>
                  </div>
                  <!-- <div class="row"> -->
                  <div class="row" *ngIf="firstStepDone">
                    <div class="col-md-12">
                      <div class="input-group">
                        <input class="form-control" placeholder="Shop address" required type="text" autocomplete="off" name="address"
                          [(ngModel)]="shop.address" #address="ngModel" />
                        <div *ngIf="address.errors && (address.dirty || address.touched || submitted)">
                          <p [hidden]="!address.errors.required" class="error">
                            Address is required
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-md-12">
                      <div class="input-group">
                        <input class="form-control" placeholder="Zipcode" required type="text" autocomplete="off" name="zipcode"
                          [(ngModel)]="shop.zipcode" #zipcode="ngModel" />
                        <div *ngIf="zipcode.errors && (zipcode.dirty || zipcode.touched || submitted)">
                          <p [hidden]="!zipcode.errors.required" class="error">
                            Zipcode is required
                          </p>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-md-12">
                      <div class="input-group">
                        <!-- <input class="form-control" placeholder="District / City" required type="text" autocomplete="off" name="city"
                          [(ngModel)]="shop.city" #city="ngModel" /> -->
                        <select class="form-control" name="city" id="city" [(ngModel)]="shop.city" #city="ngModel" required>
                          <option value="">Select district</option>
                          <option *ngFor="let city of districts; let i = index" value="{{ city.name }}">
                            {{ city.name }}
                          </option>
                        </select>
                        <div *ngIf="city.errors && (city.dirty || city.touched || submitted)">
                          <p [hidden]="!city.errors.required" class="error">
                            City is required
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-md-12">
                      <div class="input-group">
                        <input class="form-control" placeholder="State" required type="text" autocomplete="off" name="state"
                          [(ngModel)]="shop.state" #state="ngModel" />
                        <div *ngIf="state.errors && (state.dirty || state.touched || submitted)">
                          <p [hidden]="!state.errors.required" class="error">
                            State is required
                          </p>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-md-12">
                      <div class="input-group">
                        <select class="form-control" name="country" id="country" [(ngModel)]="shop.country" #country="ngModel" required>
                          <option value="">Select Country</option>
                          <option *ngFor="let country of countries; let i = index" value="{{ country.name }}">
                            {{ country.name }}
                          </option>
                        </select>
                        <div *ngIf="country.errors && (country.dirty || country.touched || submitted)">
                          <p [hidden]="!country.errors.required" class="error">
                            Country is required
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                        <div class="reg-submit-sec">
                            <button type="button" (click)="goPreviousStep()">
                              <span class="btn-icon"><i class="mdi mdi-chevron-left"></i></span>
                              <span class="btn-text">Previous</span>
                            </button>
                            <button type="">
                                <span class="btn-text">Register</span>
                                <span class="btn-icon"><i class="mdi mdi-chevron-right"></i></span>
                            </button>
                        </div>
                    </div>
                  </div>
              </form>
              <p>Already Have an account? <a routerLink="/auth/login"> Login Here</a></p>
          </div>
      </div>
  </div>
  <div *ngIf="registrationDone" class="after-reg-confirmation-inner">
    <div class="container">
        <div class="registration-header">
            <h1>WOWSOME Seller Registration </h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="after-reg-text">
                    <h2>Onece your account is verified and activated by one of our admins, You will be able to start selling your products in the website. </h2>
                    <h3> <span><i class="mdi mdi-alert-circle-outline"></i>This process should take no more than 72hours. We will connect you via your email address if we need anything. Thank you</span> </h3>
                </div>
            </div>
            <div class="col-md-12">
                <div class="after-reg-submit-sec">
                    <button (click)="backtoLogin()">
                        <span class="btn-icon"><i class="mdi mdi-chevron-left"></i></span>
                        <span class="btn-text">Back to Login</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div >
</div>
