<div class="row">
    <div class="col-12">
        <div class="card card-table-border-none" id="recent-orders">
            <div class="card-body">
              <form class="form-pill" (submit)="submit(frm)" #frm="ngForm" *ngIf="product">
                  <div class="form-row form-group">
                    <div class="col-md-6 mb-3">
                      <label>Name (*)</label>
                      <input type="text" name="productName" #productName="ngModel" class="form-control" placeholder="Enter name"
                        [(ngModel)]="product.name" required />
                      <div *ngIf="productName.errors && (productName.dirty || productName.touched || isSubmitted)">
                        <p [hidden]="!productName.errors.required" class="required-text">
                          Please enter product name!
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="form-row form-group">
                    <div class="col-md-6 mb-3">
                      <label>Description </label>
                      <textarea class="form-control" name="productDescription" [(ngModel)]="product.description" placeholder="Enter description for your Product"></textarea>
                    </div>
                  </div>
                  <!-- <div class="form-row form-group">
                    <div class="col-md-6 mb-3">
                      <label>Type </label>
                      <select type="text" name="type" class="form-control" placeholder="Physical or Digital" [(ngModel)]="product.productType">
                        <option value="physical">Physical</option>
                        <option value="digital">Digital</option>
                      </select>
                    </div>
                  </div> -->
                  <div class="form-row form-group">
                    <div class="col-md-6 mb-3">
                      <button class="btn btn-primary" type="submit">Submit Form</button>
                    </div>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div>
