<div class="row digital-product-create">
  <!-- <div class="col-12"> -->
      <div class="col-6">
          <div class="card card-table-border-none">
              <div class="card-body">
                <form class="form-pill" (submit)="submit(frm)" #frm="ngForm" *ngIf="product">
                  <div class="form-group">
                    <label>Choose Product (*)</label>
                    <ng-select bindValue="_id" (change)="setProductName($event)" (keyup)="searchProduct($event)" bindLabel="name" [required]="true" placeholder="Select Product"  name="boilerplateId" [items]="items" [(ngModel)]="product.boilerplateId" #boilerplateId="ngModel">
                    </ng-select>
                    <div *ngIf="boilerplateId.errors && (boilerplateId.dirty || boilerplateId.touched || isSubmitted)">
                      <p [hidden]="!boilerplateId.errors.required" class="required-text">
                        Product is required
                      </p>
                    </div>
                  </div>
                  <div class="form-group product-dynamic-additional-field">
                    <label>Activation Code </label>
                    <table class="table">
                        <tbody class="sortable" [sortablejs]="product.activationCode">
                            <tr *ngFor="let code of product.activationCode; let i = index" class="product-dynamic-additional-field-box">
                                <td>
                                    <i class="fa fa-bars pr-2 move-icon"></i>
                                    <input type="text" name="overview{{i}}" value="{{code}}" class="form-control" />
                                    <button (click)="removeActivationCode(i)" class="trash-btn"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <div class="input-group mb-3 product-dynamic-additional-field-add">
                                        <input type="text" class="form-control" placeholder="Enter Activation Code" name="newChemicalValue" [(ngModel)]="newActivationCode.value" />
                                        <button class="btn" type="button" (click)="addActivationCode()"><i class="fa fa-plus"></i></button>
                                    </div>
                                </td>

                            </tr>
                        </tfoot>
                    </table>
                </div>

                  <!-- <div class="form-group" *ngIf="product.type === 'digital'">
                    <label style="width:100%">Digital FilePath </label>
                    <file-upload [options]="fileOptions"></file-upload>
                    <div *ngIf="product.type === 'digital' && product.digitalFileId">
                      <img src="assets/images/file-exist.jpg" *ngIf="fileType === 'file'" width="45px">
                      <img src="assets/images/zip-icon.png" *ngIf="fileType === 'zip'" width="45px">
                      <img src="assets/images/pdf-icon.png" *ngIf="fileType === 'pdf'" width="45px">
                      <img src="assets/images/rar-exist.png" *ngIf="fileType === 'rar'" width="45px">
                      <span *ngIf="product.type === 'digital' && product.digitalFileId && product.digitalFile">
                        Mime Type: {{product?.digitalFile?.mimeType}}
                      </span>
                    </div> -->
                    <!-- <img src="assets/images/nofile-available.png" width="45px" *ngIf="product.type === 'digital' && !product.digitalFileId"> -->
                  <!-- </div> -->
                  <div class="form-row">
                    <!-- <div class="col form-group">
                      <label>Visibility</label>
                      <select name="visibility" class="form-control" [(ngModel)]="product.visibility" #visibility="ngModel">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                      </select>
                    </div> -->
                    <div class="col form-group">
                      <label>Product Price</label>
                      <input type="number" (keyup)="calculateProfit($event)" name="price" min="15" class="form-control" [(ngModel)]="product.price" required #price="ngModel"/>
                      <div *ngIf="price.errors && (price.dirty || price.touched || isSubmitted)">
                        <p [hidden]="!price.errors.required" class="required-text">
                          Product Price is required
                        </p>
                      </div>
                    </div>
                    <!-- <div class="col align-self-center">
                      You'll receive BDT {{ youMake }}
                    </div> -->
                  </div>
                  <div class="form-row">
                    <div class="col form-group">
                      <label>Product Sale Price</label>
                      <input type="number" (keyup)="calculateProfit($event)" name="salePrice" min="15" class="form-control" [(ngModel)]="product.salePrice" required #salePrice="ngModel"/>
                      <div *ngIf="salePrice.errors && (salePrice.dirty || salePrice.touched || isSubmitted)">
                        <p [hidden]="!salePrice.errors.required" class="required-text">
                          Product Sale Price is required
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-row">
                    <div class="col" >
                      <div align="center">
                        <strong>Breakdown</strong>
                      </div>
                      <div>
                        <div class="form-group row">
                          <label for="commisionfee" class="col-sm-6 col-form-label">Comission Fee: </label>
                          <div class="col-sm-6">
                            <input name="comissionFee" type="text" readonly class="form-control form-control-sm" id="commision"  [(ngModel)]="comissionFee">
                          </div>

                          <label for="digitalfee" class="col-sm-6 col-form-label">Digital Fee: </label>
                          <div class="col-sm-6">
                            <input name="digitalFee" type="text" readonly class="form-control form-control-sm" id="digitalfee" [(ngModel)]="digitalFee">
                          </div>

                          <label for="youmake" class="col-sm-6 col-form-label">You make: </label>
                          <div class="col-sm-6">
                            <input name="youMake" type="text" readonly class="form-control form-control-sm" id="youmake"  [(ngModel)]="youMake">
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col">

                    </div>
                  </div> -->
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="col-12" align="center">
            <h2>Can't find a product?</h2>
            <a routerLink="/products/request" class="requestBTN btn btn-success mt-3">REQUEST</a>
        </div>
        <div class="col-12" align="center">
            <p class="mt-3">
                Want to lower your commision rates?
            </p>
            <p class="mt-3">
                Check out our seller <a routerLink="/payments/upgrade">subscription</a> plans
            </p>
        </div>
    </div>
  <!-- </div> -->
</div>
