<div class="card">
  <div class="card-body">
    <div class="m-t-30 text-center">
      <img class="img-circle" [src]="user.avatarUrl" width="150" *ngIf="user.avatarUrl" />
      <h4 class="card-title m-t-10">{{user.name}}</h4>
      <h6 class="card-subtitle">seller</h6>
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div class="card-body">
    <!-- <small class="text-muted">Email address </small> -->
    <h6>Email : {{user.email || 'N/A'}} </h6><hr>
    <!-- <small class="text-muted p-t-30 db">Phone</small> -->
    <h6>Phone : {{user.phoneNumber || 'N/A'}}</h6><hr>
    <!-- <small class="text-muted p-t-30 db">Address</small> -->
    <h6> Address : {{user.address || 'N/A'}}</h6><hr>
    <div *ngIf="user.socialProfile">
      <small class="text-muted p-t-30 db">Social Profile</small><br />
      <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
      <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i>
      </button><button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
    </div>
  </div>
  <div>
    
  </div>
  <div class="card-body">
    <small class="text-muted">Created / joined at </small>
    <h6>{{user.createdAt | date}}</h6>
  </div>
</div>
