<!-- <div class="content-wrapper"> -->
  <!-- <div class="content"> -->
      <!-- <div class="row">
          <div class="col-md-12">
              <div class="page_title">
                  <h1>{{ title }}</h1>
              </div>
          </div>
      </div> -->
      <div class="row">
          <div class="col-12">
              <!-- Recent Order Table -->
              <div class="card card-table-border-none" id="recent-orders">
                  <div class="card-header justify-content-between">
                      <h2>Tickets</h2>
                      <a [routerLink]="['/seller-support/create']" routerLinkActive="router-link-active"  class="product-add-icon"><i class="mdi mdi-plus-circle"></i> Open New Ticket</a>
                  </div>
                  <div class="card-body pt-0 pb-5">
                      <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                          <thead>
                              <tr>
                                  <th>Code</th>
                                  <th>Subject</th>
                                  <th class="d-md-table-cell">Ticket Status</th>
                                  <!-- <th class="d-md-table-cell">Override</th> -->
                                  <th>Details</th>
                                  <th class="d-md-table-cell">View</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let ticket of tickets">
                                  <td>
                                    <span class="text-dark"> {{ ticket.code }}</span>
                                  </td>
                                  <td>
                                      <span class="text-dark" > {{ ticket.subject }}</span>
                                  </td>
                                  <td class="d-md-table-cell">
                                      <span class="badge badge-success">{{ ticket.status }}</span>
                                  </td>
                                  <!-- <td class="d-md-table-cell">
                                      <span class="badge badge-success">Mark as resolved</span>
                                  </td> -->
                                  <td class="d-md-table-cell">
                                      <span class="text-dark" > {{ ticket.description }}</span>
                                  </td>
                                  <td class="d-md-table-cell">
                                    <a [routerLink]="['/seller-support/view', ticket._id ]">
                                        <span class="badge badge-info">View</span>
                                      </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="card card-default" [hidden]="total < take">
                <div class="card-body">
                  <div class="display-inline">
                    <div class="">
                      <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="10" [pageSize]="take" (pageChange)="query()"></ngb-pagination>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  <!-- </div> -->
<!-- </div> -->
