
<!-- <div class="content"> -->
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="page_title">
                <h1>DASHBOARD</h1>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-xl-8 col-md-12">
            <!-- Sales Graph -->
            <div class="card card-default" data-scroll-height="675">
                <div class="card-header">
                    <h2>Statistics</h2>
                    <!-- <select style="width: 50%;" class="form-control pull-right" name="" id="">
                      <option value="7">Last 7 Days</option>
                      <option value="30">Last 30 Days</option>
                      <option value="365">Last 365 Days</option>
                    </select> -->
                    <select class="form-control" [(ngModel)]="chartPostData.days" (ngModelChange)="changeDays()" name="days">
                      <option value="7">Last 7 Days</option>
                      <option value="30">Last 30 Days</option>
                      <option value="365">Last 365 Days</option>
                    </select>
                </div>
                <div class="card-body">
                    <canvas id="linechart" class="chartjs"></canvas>
                </div>
            </div>
            <stat-card [stat]="revenueStat" [type]="'sale'" *ngIf="orderStat"></stat-card>
        </div>
        <div class="col-xl-4 col-md-12">
            <!-- Notification Table -->
            <div class="card card-default" data-scroll-height="550">
                <div class="card-header justify-content-between border-bottom">
                    <h2>Timeline</h2>
                </div>
                <div class="card-body slim-scroll">
                    <div class="media pb-3 align-items-center justify-content-between" *ngFor="let notification of notifications.data">
                        <div
                            class="d-flex border-circle align-items-center justify-content-center mr-3 media-icon iconbox-45" [ngClass]="['border-circle-color-'+notification.color]">
                            <i class="mdi" [ngClass]="[notification.icon]"></i>
                        </div>
                        <div class="media-body pr-3 ">
                          <a href="{{ notification.href }}" style="color: #8a909d;">
                            <p [innerHTML]="notification.title"></p>
                            <span class="font-size-12">
                              {{ notification.createdAt | timelineDate }}
                            </span>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="mt-3"></div>
            </div>

            <div class="card card-default" data-scroll-height="550">
                <div class="card-header justify-content-between border-bottom">
                    <h2>Quick Details</h2>
                </div>
                <div class="card-body slim-scroll">
                  <stat-card [stat]="orderStat" [type]="'order'" *ngIf="orderStat"></stat-card>
                  <stat-card [stat]="orderStat" [type]="'product'" *ngIf="orderStat"></stat-card>
                </div>
                <div class="mt-3"></div>
            </div>
        </div>
    </div>
<!-- </div> -->
