<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" class="wrapper" [ngClass]="
    {
        'defaultdark': color == 'defaultdark'
    }
">
<aside class="left-sidebar bg-sidebar">
  <app-sidebar></app-sidebar>
</aside>
  <div class="page-wrapper">
    <!-- Header -->
    <app-header></app-header>
    <div class="content-wrapper">
      <div class="container-fluid">
        <breadcrumb></breadcrumb>
        <router-outlet></router-outlet>
      </div>
        <!-- <router-outlet></router-outlet> -->
    </div>
  </div>

  <!-- <footer class="footer">
    © 2018 - version {{appConfig?.version}} build {{appConfig?.build}}
  </footer> -->
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
  <ng2-toasty [position]="'top-right'"></ng2-toasty>
</div>
